@page
@model HotelApp.Web.Pages.BookingConfirmedModel
@{
    ViewData["Title"] = "Booking Confirmed!";
}

<h3>Pack your bags...</h3>
<h2>Your Booking is Confirmed!</h2>

<div class="card">
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
    <p>Dates:</p>
    <p>Room type:</p>
    <p>Confirmation number:</p>
</div>
<p>We look forward to seeing you!</p>